.about-container {
  padding: 20px;
  display: block;
  height: 100%;
  box-sizing: border-box;
}

.app-name {
  font-size: 4rem;
  font-weight: bold;
  color: #32cd32;
  margin-top: 20px;
  margin-bottom: 30px;
}


p, pre {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
  margin-top: 20px; 
}

.tree-image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.navigate-btn {
  background-color: #32cd32;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigate-btn:hover {
  background-color: #28a828;
}
